# Dependencies
node_modules/

# Build
dist/
*.local

# Logs
*.log
npm-debug.log*

# Editor / OS
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/

# Env
.env
.env.*
!.env.example

# TypeScript build info
*.tsbuildinfo

# Thumbnails
Thumbs.db
